body:has(col, row, list) { margin: 0; }

col, row, list, lr, ld {
    font-family: system-ui;
    touch-action: pan-x pan-y;
    display: flex;
    justify-content: center;

    svg    { margin: 8px; }
    button { height: 44px; }
}

col, list, ld { flex-direction: column; }
row, lr       { flex-direction: row; }
list          { height: 100vh; }

@keyframes slide-in        { from { opacity: 0; translate: 50px; } }
@keyframes slide-out       { to   { opacity: 0; translate: -50px; } }
@keyframes zoom-fade-in    { from { opacity: 0; scale: 1.2; } }
@keyframes zoom-fade-out   { to   { opacity: 0; scale: .8; } }
::view-transition-group(*) { animation-duration: 300ms; animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0); }
